@using MVCTrainProject.Models
@model List<registration_date>
@{
    ViewBag.Title = "ParkList";
}

<h2 style="color:white">Park List / Otopark Listesi</h2>


<div class="container">

    <table style="background-color: white">
        @foreach (var regist in Model)
        {
            if (@regist.leave_time != null)
            {
                <tr style="border: 1px solid black">
                    <td style="border: 1px solid black; padding: 10px">@regist.r_date_id</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.car.car_plate</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.loc_number</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.entery_time</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.leave_time</td>
                    <td style="border: 1px solid black; padding: 10px; color: crimson">Park Bitti</td>
                </tr>
            }
            else
            {
                <tr style="border: 1px solid black">
                    <td style="border: 1px solid black; padding: 10px">@regist.r_date_id</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.car.car_plate</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.loc_number</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.entery_time</td>
                    <td style="border: 1px solid black; padding: 10px">@regist.leave_time</td>
                    <td style="border: 1px solid black; padding: 10px; color: darkcyan">Park Devam Ediyor</td>
                </tr>
            }
        }

    </table>
</div>
