@using MVCTrainProject.Models
@model List<registration_date>
@{
    ViewBag.Title = "Registration_Delete";
}

<head>
    <script>

        function Alert() {

            alert("Kayıt Başarıyla Sonlandırıldı");

        }
    </script>
</head>
<body>
    <h2 style="color:white">Registration Delete / Kayıt Silme </h2>

    <div class="container">

        <table style="background-color: white">
            @foreach (var regist in Model)
            {
                if (@regist.leave_time == null)
                {
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black; padding:10px">@regist.r_date_id</td>
                        <td style="border: 1px solid black; padding: 10px">@regist.car.car_plate</td>
                        <td style="border: 1px solid black; padding: 10px">@regist.loc_number</td>
                        <td style="border: 1px solid black; padding: 10px">@regist.entery_time</td>
                        <td style="border: 1px solid black"><a href="/Park/End_Process/@regist.r_date_id" onclick="Alert()" class="btn btn-warning">Parkı Sonlandır</a> </td>
                        <br />
                    </tr>
                }
            }
        </table>
    </div>
</body>